/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var($title-color);
  font-family: var($title-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}