@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");


:root {
  $primary-color: #154875;
  $secondary-color: #868589;
  $title-color: #154875;
  $body-color: #fafafa;
  $white-color: #FFF;
  /*========== Font and typography ==========*/
  $body-font: 'Open Sans',
  sans-serif;
  $title-font: 'Raleway',
  sans-serif;
}